@using Capstone.Web.Models;
@using Capstone.Web.Controllers;
@model List<ParkModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="c-wrapper">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
                <li data-target="#myCarousel" data-slide-to="9"></li>

            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption" id="quotes">
                        <p1>@Model[0].InspirationalQuote</p1>
                        <br />
                        <p2>- @Model[0].InspirationalQuoteSource</p2>
                    </div>
                    <img src="@Url.Content("~/Content/ParkPic/cvnp.jpg")" alt="Park1" class="img-responsive" />            
                </div>

                @for (int i = 1; i < Model.Count; i++)
                {
                    <div class="item">
                        <img class="d-block img-responsive" src="@Url.Content("~/Content/ParkPic/" + Model[i].ParkCode + ".jpg")" alt=@Model[i].ParkName slide">
                        <div class="carousel-caption" id="quotes">
                            <p1>@Model[i].InspirationalQuote</p1>
                            <br />
                            <p2>- @Model[i].InspirationalQuoteSource</p2>
                        </div>
                    </div>
                }

                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    </div>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.js"></script>
 
</body>