@using Capstone.Web.Models;
@using Capstone.Web.Controllers;
@model List<ParkModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>National Park Weather Service</h1>



    @foreach (ParkModel park in Model)
    {
        <div class="parkListing">
            <div>
                <a href="@Url.Action("ParkDetail", "Home", new { id = park.ParkCode })">
                    <img class="img-responsive" src="@Url.Content("~/Content/ParkPic/" + park.ParkCode +".jpg")" />
                </a>
              
            </div>
            <div class="lisitngText">
                <h2>@park.ParkName, @park.State</h2>
  
                <p class="description">@park.ParkDescription</p>
            </div>

        </div>
    }

