@using Capstone.Web.Models;
@using Capstone.Web.Controllers;
@model SurveyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Take Our Park Review</h2>

<div id="survey-form">
    @using (Html.BeginForm("Survey", "Home", FormMethod.Post))
    {
        <div>
            @Html.HiddenFor(m => m.Park.ParkCode, Model.Park.ParkCode)
            <p>
                @Html.Label("EmailAddress", "Your email")
                @Html.TextBoxFor(m => m.Survey.EmailAddress)
            </p>
            <p>
                @Html.Label("State", "State of residence")
                @Html.DropDownListFor(m => m.Survey.State, SurveyModel.States)
            </p>
            <p>
                @Html.Label("Activity", "Activity Level")
                @Html.DropDownListFor(m => m.Survey.Activity, SurveyModel.ActivityLevels)
            </p>

            <button>Submit</button>

        </div>
    }
</div>

